.switcher {
	height: 50px;
}

/* 这里使用到了CSS后代选择器的知识(descendant selector) */
.switcher-label {
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.front {
	color: red;
}

.switcher.active .front {
	color: #000000;
}

.back {
	color: #000000;
}

.switcher.active .back {
	color: #4ecb32;
}

.disabled {
	opacity: .7;
}




.switcher-line {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}

/* 这里用到了:before和:after选择器的知识 */
.switcher-line:before {
	content: '';
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
	display: block;
	width: 100%;
	height: 5px;
	background-color: orange;
	vertical-align: middle;

	border-radius: 4px;
}

.switcher-line:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
  transform: translateY(-50%);
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;

	background-color: grey;

	/* 这里使用到了transition的知识 */
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}


/* 这里使用到了transform，translate的知识 */
.switcher.active .switcher-line:after {
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.inner-input {
	display: none;
}

/* adjacent sibling selector */
.switcher+input {
	margin-top: 40px;
}













