<!DOCTYPE html>
<html ng-app="slide_show_app">

<head>
    <title>Slide Show</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/slideShow.css">
</head>

<body ng-controller="slideShowCtrl">
    <script type="text/javascript" src="../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../controllers/slideShowCtrl.js"></script>
    <script type="text/javascript" src="../scripts/slideShow.js"></script>
    <div class="display-area">
      <li class="slide-unit">slide 1 slide 1 slide 1 slide 1</li>
      <li class="slide-unit">slide 2 slide 2 slide 2 slide 2</li>
      <li class="slide-unit">slide 3 slide 3 slide 3 slide 3</li>
      <li class="slide-unit">slide 4 slide 4 slide 4 slide 4</li>
      <li class="slide-unit">slide 5 slide 5 slide 5 slide 5</li>
      <li class="slide-unit">slide 6 slide 6 slide 6 slide 6</li>
      <li class="slide-unit">slide 7 slide 7 slide 7 slide 7</li>
      <li class="slide-unit">slide 8 slide 8 slide 8 slide 8</li>
      <li class="slide-unit">slide 9 slide 9 slide 9 slide 9</li>
    </div>

</body>

</html>
