<!DOCTYPE html>
<html ng-app="slide_show_app">

<head>
  <title>Dialog</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/slideShow.css">
</head>

<body>
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/slideShowCtrl.js"></script>
  <script type="text/javascript" src="../scripts/slideShow.js"></script>

	<div>
		<li>slide 1 slide 1 slide 1 slide 1</li>
		<li>slide 2 slide 2 slide 2 slide 2</li>
		<li>slide 3 slide 3 slide 3 slide 3</li>
		<li>slide 4 slide 4 slide 4 slide 4</li>
		<li>slide 5 slide 5 slide 5 slide 5</li>
		<li>slide 6 slide 6 slide 6 slide 6</li>
	</div>


</body>

</html>




































