.pop-dialog {
  position: relative;
  width: 260px;
  height: 300px;
  background: url("../assets/pop-dialog.png") no-repeat;
  background-size: 100% 100%;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.pop-dialog-button {
	position: absolute;
	width: 100px;
	height: 35px;
	background: url("../assets/check-now.png") no-repeat;
	background-size: 100% 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 15px;
}