.password-list {
	list-style: none;
}

.password-list li {
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	float: left;
	border-right: none;
	text-align: center;
	line-height: 40px;
}

ul :last-child {
	border-right: 1px solid #ddd;
}

.password-input {
	opacity: 0;
}