<!DOCTYPE html>
<html ng-app="dialog_app">

<head>
  <title>Dialog</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/dialog.css">
</head>

<body ng-controller="dialogCtrl">
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/dialogCtrl.js"></script>
	<script type="text/javascript" src="../scripts/ngDialog.js"></script>
  



</body>

</html>




































