<!DOCTYPE html>
<html ng-app="dialog_app">

<head>
  <title>Dialog</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/dialog.css">
</head>

<body ng-controller="dialogCtrl">
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/dialogCtrl.js"></script>
  <script type="text/javascript" src="../scripts/ngDialog.js"></script>

	
	<button ng-click="showDialog = true">Click to Show Dialog</button>

	<p>
Lorem ipsum morbi elit a dui convallis aliquam lacus nisi nec augue, placerat quam congue aenean ullamcorper posuere interdum conubia inceptos egestas, ac praesent fringilla aliquet nunc quam condimentum ad mattis ultrices.

Nullam porta turpis non a velit sociosqu fusce tortor, suscipit non maecenas sem torquent interdum molestie erat, curabitur quis eu duis vel est libero.

Pellentesque placerat at fringilla porttitor facilisis himenaeos, tristique velit cubilia a vehicula hendrerit justo, curabitur odio pellentesque iaculis congue hendrerit nibh aliquam fermentum velit cubilia mauris.

Nostra mollis ut commodo posuere etiam accumsan elementum augue massa justo vestibulum commodo, cursus inceptos litora convallis sollicitudin vestibulum dui torquent eleifend vulputate sem, morbi iaculis potenti netus urna egestas habitant justo tempus dolor lacus.

Hendrerit aptent commodo vel magna augue leo vulputate ultricies maecenas ultricies vitae feugiat ornare primis dui fringilla, risus ultricies fusce etiam ornare ac congue dolor volutpat maecenas integer ullamcorper dui euismod.

Lorem ipsum morbi elit a dui convallis aliquam lacus nisi nec augue, placerat quam congue aenean ullamcorper posuere interdum conubia inceptos egestas, ac praesent fringilla aliquet nunc quam condimentum ad mattis ultrices.

Nullam porta turpis non a velit sociosqu fusce tortor, suscipit non maecenas sem torquent interdum molestie erat, curabitur quis eu duis vel est libero.

Pellentesque placerat at fringilla porttitor facilisis himenaeos, tristique velit cubilia a vehicula hendrerit justo, curabitur odio pellentesque iaculis congue hendrerit nibh aliquam fermentum velit cubilia mauris.

Nostra mollis ut commodo posuere etiam accumsan elementum augue massa justo vestibulum commodo, cursus inceptos litora convallis sollicitudin vestibulum dui torquent eleifend vulputate sem, morbi iaculis potenti netus urna egestas habitant justo tempus dolor lacus.

Hendrerit aptent commodo vel magna augue leo vulputate ultricies maecenas ultricies vitae feugiat ornare primis dui fringilla, risus ultricies fusce etiam ornare ac congue dolor volutpat maecenas integer ullamcorper dui euismod.
	</p>


	<div ng-show="showDialog" class="ngdialog">
		<div class="dialog-overlay"></div>
		
		<div class="dialog-body">
			<div class="dialog-header">
				it is a dialog header text
			</div>
			<div class="dialog-bottom">
				<button class="bottom-left">Nope</button>
				<button class="bottom-right">Ok</button>
			</div>
		</div>

	</div>


</body>

</html>




































