<!DOCTYPE html>
<html ng-app="dialog_app">

<head>
  <title>Dialog</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/dialog.css">
</head>

<body>
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/dialogCtrl.js"></script>
  <script type="text/javascript" src="../scripts/ngDialog.js"></script>


  <script type="text/javascript">

    
    var Student = function(name, gender) {
      this.name = name;
      this.gender = gender;
    }

    var DetailedInfo = function() {};

    DetailedInfo.prototype.printInfo = function(height, age) {
      console.log('I am ' + age + ' years old and I am ' + height + 'cm');
    }

    DetailedInfo.prototype.university = function(uni) {
      console.log('I am studying in ' + uni);
    }

    Student.prototype = new DetailedInfo();
    var a = new DetailedInfo();

    console.log(Student.prototype);

    var bowen = new Student('Bowen', '23');
    console.log(bowen);
    console.log(bowen.name);

    console.log(bowen.printInfo(183, 23));


  </script>



</body>

</html>




































