<!DOCTYPE html>
<html ng-app="delete_input_app">

<head>
  <title>Delete Input</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/deleteInput.css">
</head>

<body ng-controller="deleteInputCtrl">
  testtest
	
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../scripts/ngDeleteInput.js"></script>  
  <script type="text/javascript" src="../controllers/deleteInputCtrl.js"></script>
</body>

</html>