<!DOCTYPE html>
<html ng-app="tabs_app">

<head>
  <title>Tabs</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/tabs.css">
</head>

<body ng-controller="tabsCtrl">
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/tabsCtrl.js"></script>
  <script type="text/javascript" src="../scripts/ngTabs.js"></script>


  <div ng-tabs default-actived-tab="3">
    <ul class="header-list">
      <li ng-tabs-header>
        <a ng-click="$event.preventDefault()">T1</a>
      </li>

      <li ng-tabs-header>
        <a ng-click="$event.preventDefault()">T2</a>
      </li>

      <li ng-tabs-header>
        <a ng-click="$event.preventDefault()">T3</a>
      </li>

      <li ng-tabs-header>
        <a ng-click="$event.preventDefault()">T4</a>
      </li>
    </ul>

    <div class="body-list">
      <div ng-tabs-body>
        test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1 test1
      </div>

      <div ng-tabs-body>
        test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2 test2   
      </div>

      <div ng-tabs-body>
        test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3   
      </div>

      <div ng-tabs-body>
        test4 test4 test4 test4 test4 test4 test4 test4 test4 test4 test4 test4 test4 test4 test4 test4   
      </div>
    </div>
  </div>

</body>

</html>


