<!DOCTYPE html>
<html ng-app="tabs_app">

<head>
  <title>Tabs</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/tabs.css">
</head>

<body ng-controller="tabsCtrl">
  <ul class="header-list">
    <li>
      <a href="#">T1</a>
    </li>

    <li>
      <a href="#">T2</a>
    </li>

    <li>
      <a href="#">T3</a>
    </li>

    <li>
      <a href="#">T4</a>
    </li>    

  </ul>
	
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/tabsCtrl.js"></script>
  <script type="text/javascript" src="../scripts/ngTabs.js"></script>
  
</body>

</html>