<!DOCTYPE html>
<html ng-app="password_box_app">

<head>
  <title>Password Box</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/passwordBox.css">
</head>

<body ng-controller="passwordBoxCtrl">
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/passwordBoxCtrl.js"></script>
  <script type="text/javascript" src="../scripts/passwordBox.js"></script>

  <ul class="password-list" ng-click="focusToInput()">
    <li ng-repeat="passwordUnit in passwordDot track by $index" ng-bind="passwordDot[$index]"></li>
  </ul>

  <input class="password-input" type="text" ng-keyup="inputValueFunc()" ng-model="inputedValue" maxlength="6"></input>


</body>

</html>



