<!DOCTYPE html>
<html ng-app="switcher_app">

<head>
  <title>Switcher</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/switcher.css">
</head>

<body ng-controller="switcherCtrl">

  
  <label class="switcher-line">
    <input class="inner-input" type="checkbox"></input>  
  </label>
  
  
	
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/switcherCtrl.js"></script>
  <script type="text/javascript" src="../scripts/ngSwitcher.js"></script>
  
</body>

</html>