<!DOCTYPE html>
<html ng-app="keyboard_app">

<head>
  <title>Keyboard</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body ng-controller="keyboardCtrl">
	<div class="text-area" ng-bind="inputedNum"></div>
	<div 
    ng-keyboard 
    ng-show="showKeyboard" 
    random-status="true" 
    amount="6" 
    auto-finish="true" 
    input-action="inputAction(data)"
    finish-action="finishAction()"
  ></div>

	
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/keyBoardDirectiveCtrl.js"></script>
  <script type="text/javascript" src="../scripts/ngKeyboard.js"></script>
  
</body>

</html>