<!DOCTYPE html>
<html ng-app="progress_bar_app">

<head>
  <title>Progress Bar</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/progressBar.css">
</head>

<body ng-controller="progressBarCtrl">
  <script type="text/javascript" src="../scripts/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/progressBarCtrl.js"></script>
  <script type="text/javascript" src="../scripts/progressBar.js"></script>


  <progress-bar 
    percentage={{percentage}}
    bar-height="20px"
    bar-width="20%"
    show-percetage="true" >
  </progress-bar>

</body>

</html>


